html{
    /*background-color: rgb(170, 63, 63);*/
    background-image: radial-gradient(rgb(49, 50, 53),rgba(0, 0, 0, 0.808));
    /* background-image: linear-gradient(rgb(179, 48, 48),rgb(206, 138, 61)); */
    /* background-repeat:no-repeat; */
    background-size: cover;
}

#heading{
    color:white;
    border:solid white;
    padding:3%;
    padding-left:7%;
    padding-right:7%;
    box-shadow: 0px 5px 8px black;
}

header{
    color:rgb(241, 241, 241);
    font-weight:900;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration:underline;
    font-family: 'Bebas Neue';
    font-size: 204%;
    border:solid;
    text-shadow: 3px 3px 1px black;
    box-shadow: 3px 5px 5px white;
    margin-top:1%;
    background-color: red;
}

a{
    color:white;
}

nav{
    margin: 7%;
    margin-top:3%;    
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border:solid white;
    font-family: 'Bebas Neue';
    font-size: 3vh;
    text-shadow: 3px 3px 5px black;
    box-shadow: 3px 5px 5px white;
    width: 85%;
    background-color: red;
    margin-bottom: 3%;
}

body{
    width:90%;
    margin:0 auto;
}

#bio{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    border:solid white;
    font-family: 'Bebas Neue';font-size: 3vh;
    padding:1% 5%;
    box-shadow: 0px 5px 8px blue;
}

#bio:hover{
    background-image: radial-gradient(blue , black);
    box-shadow:8px 8px 3px black;
}

#exp{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border:solid white;
    font-family: 'Bebas Neue';font-size: 3vh;
    padding:1% 5%;
    box-shadow: 0px 5px 8px blue;
}

#exp:hover{
    background-image: radial-gradient(blue , black);
    box-shadow:8px 8px 3px black;
}

#port{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border:solid white;
    font-family: 'Bebas Neue';font-size: 3vh;
    padding:1% 5.3%;
    box-shadow: 0px 5px 8px blue;
}

#port:hover{
    background-image: radial-gradient(blue , black);
    box-shadow:8px 8px 3px black;
}

.socials{
    display:flex;
    justify-content: center;

}

#twitter{
    color:rgb(75, 155, 182);
    text-decoration:none;
    margin: 10%;
    box-shadow: 1px 2px 7px black;
}

#insta{
    color:rgb(212, 54, 165);
    text-decoration:none;
    margin: 10%;
    box-shadow: 4px 5px 8px black;
}

#linkedin{
    color:rgb(60, 125, 146);
    text-decoration:none;
    margin: 10%;
    box-shadow: 1px 2px 8px black;
}

#quote{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Bebas Neue';
    font-size: 204%;
    text-shadow: 3px 3px 1px black;
    margin-top:0%;
}

#pic{
    display:flex;
    justify-content:center;
    margin-bottom:3%;
    margin-top:3%;
}

img{
    margin-bottom:3%;
    border:3px solid red;
    margin-top:3%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Bebas Neue';
  }
  

  input[type=submit] {
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Bebas Neue';
  }
  
  input[type=submit]:hover {
    background-color: #0400ff;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border:solid red;
    font-family: 'Bebas Neue';
    margin-bottom: 3%;
  }

  #contact{
    color:white;
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: center;
    margin-bottom:4%;
    font-size:200%;
    text-decoration:underline;
  }

.section{
    flex-direction:column;
    background-color: red;
    padding:1%;
    margin-bottom:7%;
    width:79%;
    margin-left:9%;
    border:solid white;
    box-shadow: 5px 5px 5px white;
    margin-top:7%;
    justify-content: center;
    align-items:center;
}  

@media screen and (max-width:942px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:5%;
        padding-right:4%;
        font-size: 100%;
    }
    
    #quote{
        margin-top:1%;
        font-size: 150%;
        margin-left:10%
    }

    #pic{
        width:80%;
        margin-left:11%;
    }

    img{
        width:80%;
    }

    #hob{
        margin-left:3%;
    }
    
}